<div class="container">
  <h1 class="m-4">Evidentiranje ocena za odbranjene radove</h1>
  <h2 *ngIf="labors.length == 0">Nema radova</h2>
  <div
    class="container w-100 mt-2 d-flex justify-content-between p-3 align-items-center"
    style="background-color: rgb(151, 158, 158); border-radius: 15px"
    *ngFor="let labor of labors"
  >
    <div>
      <h2>{{ labor.name }}</h2>
      <h3>{{ findUser(labor.id) }}</h3>
      <p>Datum odbrane: {{ labor.dateOfDefense }}</p>
    </div>
    <div>
      <button class="btn btn-primary m-0" (click)="redirectToLabor(labor)">
        Evidentiraj ocenu
      </button>
    </div>
  </div>
</div>
